<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20 ">
    <div class="grid gap-12 row-gap-8 lg:grid-cols-2">
      <div class="flex flex-col justify-center">
        <div class="max-w-xl mb-6">
          <h3 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-accent sm:text-4xl sm:leading-none">
           Descripcion General<br class="hidden md:block" />
  
  
          </h3>
          <p class="text-base text-gray-700 md:text-lg">
            Nuestro proyecto se enfoca en implementar una solución innovadora basada en blockchain para asegurar la integridad y autenticidad de certificados y registros académicos. 
            Mediante el uso de tecnologías descentralizadas, creamos un sistema inmutable y transparente que permite verificar de manera confiable los logros académicos de los estudiantes. 
              </p>
          </p>
        </div>
        <div class="grid gap-8 row-gap-8 sm:grid-cols-2">
          <div>
            <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full" >
              <img src="/images/seguridad.png" alt="seguridad" />
            </div>
            <h6 class="mb-2 text-primary font-semibold leading-5">
              Garantia de la privacidad y seguridad de los datos personales
            </h6>
            <p class="text-sm text-gray-900">
             Lo que permite protejer la información contra accesos no autorizados y manipulaciones.
            </p>
          </div>
          <div>
            <div class="flex items-center justify-center w-12 h-12 mb-4 rounded-full ">
              <img src="/images/verificar.png" alt="verificar" />
            </div>
            <h6 class="mb-2 text-primary font-semibold leading-5 ">
              Facilita la validacion rápida y precisa de las credenciales educativas
            </h6>
            <p class="text-sm text-gray-900">
              Fortaleciendo la confianza entre instituciones educativas, empleadores y estudiantes.
            </p>
          </div>
        </div>
      </div>
      <div>
        <img class="object-cover w-full h-56 rounded-xl shadow-lg sm:h-96" src="images/detalles.jpg" alt="" />

      </div>
    </div>
  </div>