<div class="bg-white text-white p-4">
  <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
    <div class="max-w-xl mb-6 sm:mx-auto sm:text-center md:mb-10 lg:max-w-2xl">
      <h2 class="font-libre mb-4 text-3xl  text-primary font-semibold antialiased leading-snug tracking-normal">
    Propuesta de Valor
      </h2>
      <p class="text-base text-gray-700 md:text-lg">
        Contamos con pilares fundamentales que nos permiten brindar un servicio de calidad y confianza a nuestros clientes.
      </p>
    </div>
    <div class="grid gap-6 row-gap-5 lg:grid-cols-3">
      <div>
        <img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-64" src="/images/confianza.jpg" alt="" />
        <h5 class="mb-2 text-xl font-bold text-primary leading-none sm:text-2xl">
         Confianza
        </h5>
      </div>
      <div>
        <img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-64" src="/images/transparencia.jpg" alt="" />
        <h5 class="mb-2 text-xl font-bold text-primary leading-none sm:text-2xl">
          Transparencia
        </h5>
      </div>
      <div>
        <img class="object-cover w-full h-64 mb-6 rounded shadow-lg lg:h-80 xl:h-64" src="/images/reducciondecostos.jpg" alt="" />
        <h5 class="mb-2 text-xl font-bold  text-primary leading-none sm:text-2xl">
       Reducción de Costos
        </h5>
      
      </div>
    </div>
  </div>
</div>
