<div
  class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20"
>
  <div class="max-w-xl mb-6 sm:mx-auto sm:text-center md:mb-10 lg:max-w-2xl">
    <h2
      class="font-libre text-primary mb-4 text-3xl antialiased font-semibold leading-snug tracking-normal"
    >
      Interesados En Nuestros Servicios
    </h2>
  </div>
  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-4">
    <div class="text-center">
      <div
        class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full sm:w-12 sm:h-12"
      >
        <img src="/images/universidad.png" />
      </div>

      <p class="mb-2 font-medium text-gray-900 text-md">Instituciones Educativas</p>
    </div>
    <div class="text-center">
      <div
        class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full sm:w-12 sm:h-12"
      >
        <img src="/images/empresa.png" />
      </div>

      <p class="mb-2 font-medium text-gray-900  text-md">Empresas</p>
    </div>
    <div class="text-center">
      <div
        class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full sm:w-12 sm:h-12"
      >
        <img src="/images/capacitacion.png" />
      </div>

      <p class="mb-2 font-medium text-gray-900  text-md">Centros de Capacitación</p>
    </div>
    <div class="text-center">
      <div
        class="flex items-center justify-center w-10 h-10 mx-auto mb-3 rounded-full sm:w-12 sm:h-12"
      >
        <img src="/images/plataformas.png" />
      </div>

      <p class="mb-2 font-medium text-gray-900 text-md">Plataformas Educativas</p>
    </div>
  </div>
</div>
