<div class="bg-secondary text-white p-4">
  <div class="px-4 pt-8 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 lg:grid-cols-4">
      <div class="sm:col-span-2">
        <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center">
          <img class="h-12 md:h-10 w-auto" src="/images/logoNavbar.png" alt="Logo">
          <span class="ml-2 text-xl font-bold tracking-wide text-white uppercase">Certiblock</span>
        </a>
        <div class="mt-6 lg:max-w-sm">
          <p class="text-sm text-white">Soluciones inovadoras para la seguridad de tus documentos.</p>
        </div>
      </div>
      <div class="sm:col-span-2 lg:col-span-2 lg:col-start-4 flex justify-end">
        <div class="flex flex-col">
          <span class="text-base font-semibold tracking-wide text-white">Redes Sociales</span>
          <div class="flex items-center mt-1 space-x-3">
            <a href="/" class="text-white transition-colors duration-300 hover:text-deep-purple-accent-400">
              <svg viewBox="0 0 24 24" fill="currentColor" class="h-6">
                <path
                  d="M22,0H2C0.895,0,0,0.895,0,2v20c0,1.105,0.895,2,2,2h11v-9h-3v-4h3V8.413c0-3.1,1.893-4.788,4.659-4.788 c1.325,0,2.463,0.099,2.795,0.143v3.24l-1.918,0.001c-1.504,0-1.795,0.715-1.795,1.763V11h4.44l-1,4h-3.44v9H22c1.105,0,2-0.895,2-2 V2C24,0.895,23.105,0,22,0z"
                ></path>
              </svg>
            </a>
            <a href="/" class="text-white transition-colors duration-300 hover:text-deep-purple-accent-400">
              <svg viewBox="0 0 24 24" fill="currentColor" class="h-7">
                <path
                  d="M23.8,7.2c0,0-0.2-1.7-1-2.4c-0.9-1-1.9-1-2.4-1C17,3.6,12,3.6,12,3.6h0c0,0-5,0-8.4,0.2 c-0.5,0.1-1.5,0.1-2.4,1c-0.7,0.7-1,2.4-1,2.4S0,9.1,0,11.1v1.8c0,1.9,0.2,3.9,0.2,3.9s0.2,1.7,1,2.4c0.9,1,2.1,0.9,2.6,1 c1.9,0.2,8.2,0.2,8.2,0.2s5,0,8.4-0.3c0.5-0.1,1.5-0.1,2.4-1c0.7-0.7,1-2.4,1-2.4s0.2-1.9,0.2-3.9v-1.8C24,9.1,23.8,7.2,23.8,7.2z M9.5,15.1l0-6.7l6.5,3.4L9.5,15.1z"
                ></path>
              </svg>
            </a>
            <a href="/" class="text-white transition-colors duration-300 hover:text-deep-purple-accent-400">
              <svg viewBox="0 0 24 24" fill="currentColor" class="h-6">
                <path
                  d="M20.447,20.452h-3.554v-5.992c0-1.428-0.029-3.267-1.992-3.267c-1.993,0-2.298,1.553-2.298,3.16v6.099h-3.554
                      V8.994h3.414v1.562h0.048c0.474-0.898,1.634-1.845,3.363-1.845c3.595,0,4.255,2.366,4.255,5.448V20.452z M5.337,7.433
                      c-1.144,0-2.072-0.927-2.072-2.072c0-1.144,0.928-2.071,2.072-2.071s2.072,0.927,2.072,2.071
                      C7.409,6.506,6.482,7.433,5.337,7.433z M6.982,20.452H3.691V8.994h3.292V20.452z M22.225,0H1.771C0.791,0,0,0.792,0,1.771v20.457
                      C0,23.208,0.791,24,1.771,24h20.457C23.208,24,24,23.208,24,22.228V1.771C24,0.792,23.208,0,22.225,0z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row">
      <p class="text-sm text-white">© Copyright 2024 Todos los derechos Reservados.</p>
      <ul class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row">
        <li>
          <a href="/" class="text-sm text-white transition-colors duration-300 hover:text-deep-purple-accent-400">@valentina2708</a>
        </li>
      </ul>
    </div>
  </div>
</div>
