<div class="bg-secondary text-white p-4">
<div class="px-4 py-5 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
  <div class="relative flex items-center justify-between">
    <a href="/" aria-label="home" title="Company" class="inline-flex items-center">
      <div class="flex items-center">
        <img class="h-12 md:h-10 w-auto" src="/images/logoNavbar.png" alt="Certiblock Logo">
        <span class="ml-2 text-2xl font-bold font-libre tracking-wide uppercase">Certiblock</span>
      </div>
    </a>
    <ul class="flex items-center space-x-8 lg:flex">
      <li>
        <a href="/" aria-label="Our product" title="Our product" class="font-medium font-libretracking-wide transition-colors duration-200 hover:text-deep-purple-accent-400">Inicio</a>
      </li>
      <li>
        <a href="/" aria-label="Our product" title="Our product" class="font-medium font-libretracking-wide transition-colors duration-200 hover:text-deep-purple-accent-400">Blog</a>
      </li>
    </ul>
  </div>
</div>
</div>